{% load static %}
<footer class="footer">
    <article class="footer_article">
        <h1>Información</h1>
        <p>Aviso Legal</p>
        <p>Política de Privacidad</p>
        <p>Cookies</p>
        <p>Protección de Datos</p>
    </article>

    <article class="footer_article">
        <h1>Contacto</h1>
        <p id="p_correo">Correo electrónico</p>
        <p id="p_github"><a href="https://github.com/Vix890">Perfil de Github</a></p>
        <p id="p_linkedin"><a href="https://www.linkedin.com/in/vix890/">Linkedin</a></p>
        <p id="p_instagram">Instagram</p>
    </article>

    <article class="footer_article">
        <p>
            <span>&copy;</span>
            Copyright
        </p>
    </article>
</footer>