{% extends "base.html" %}
{% load static %}

{% block title %}Notificaciones{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/seguidores.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock head %}

{% block content %}

    <section class="notificaciones">
        {% if notificaciones %}
            <article class="title">
                <h1>Notificaciones</h1>
                <div>
                    <button class="restore">
                        <a href="{% url "notificaciones_restore" %}">
                            restaurar borrados
                        </a>
                    </button>
                </div>
            </article>
            
            <article class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Notificación</th>
                            <th>Fecha</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notificacion in notificaciones %}
                            <tr>
                                <td>{{ notificacion.notificacion }}</td>
                                <td>{{ notificacion.fecha }}</td>
                                <td>
                                    <button>
                                        <a href="{% url "notificacion_delete" notificacion.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#ffffff" d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z"/></svg>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>

                <article class="paginator">
                    {% if notificaciones.has_previous %}
                        <button class="paginator_button"><a href="?page={{ notificaciones.previous_page_number }}">&lt;</a></button>
                    {% else %}
                        <button class="paginator_button"><a href="?page={{ notificaciones.paginator.num_pages }}">&lt;</a></button>
                    {% endif %}
                    
                    <span>Página {{ notificaciones.number }} de {{ notificaciones.paginator.num_pages }}</span>
                    
                    {% if notificaciones.has_next %}
                        <button class="paginator_button"><a href="?page={{ notificaciones.next_page_number }}">&gt;</a></button>
                    {% else %}
                        <button class="paginator_button"><a href="?page=1">&gt;</a></button>
                    {% endif %}
                </article>
            {% else %}    
                <article class="title">
                    <h1>No hay notificaciones</h1>
                    <div>
                        <button class="restore">
                            <a href="{% url "notificaciones_restore" %}">
                                restaurar borrados
                            </a>
                        </button>
                    </div>
                </article>
            {% endif %}
        </section>
    {% endblock content %}